# API Configuration
VITE_API_URL=http://localhost:8000/api

# Optional: Default API Key for development
# VITE_API_KEY=your_api_key_here
OPENROUTER_API_KEY=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
LANGCHAIN_API_KEY=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
